/*  ---------------Box Sizing-----------------  */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* --------------Global Styles----------------- */
body {
    background-color: gold;
    font-family: "Alan Sans", sans-serif;
}
header.primary{
  background:#3B638B;
  color:#ffffff;
  text-align:center;
  text-shadow: 1px 1px #000000;
}