/* ---------------Box Sizing----------------- */
    html {
      box-sizing: border-box;
    }
    *,
    *:before,
    *:after {
      box-sizing: inherit;
    }
    body {
      background-color: #ECECEC;
      font-weight: bold;
      font-family: Tahoma, Geneva, sans-serif;
      color: #FFF;
      text-align: center;
      line-height: 24px;
    }

#wrapper {
  width: 800px;
  height: 600px;
  margin: 40px auto;
  background: #eee;
  border: 1px solid #ccc;
  position: relative; 
  text-align: center;
}


#navy {
  background-color: #001f3f;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

#teal {
  background-color: #39CCCC;
  width: 150px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
}

#blue {
  background-color: #0074D9;
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
}

#aqua {
  background-color: #7FDBFF;
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  right: 0;
}

#footer {
  width: 150px;
  height: 150px;
  background: #666;
  color: white;
  font-weight: bold;
  line-height: 150px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}